/* * {
  --bs-btn-bg: rgb(64, 64, 79) !important;
} */

.bg-yellow {
  background-color: yellow;
}

.btn-primary {
  background-color: rgb(81, 75, 75);
}

.btn-primary:hover {
  background-color: black;
}

.countdown {
  margin: 1.5rem;
  padding: 1rem 2rem;
  background-color: rgb(59, 59, 59);
  border: solid white 4px;
  border-radius: 100px;
}

